* {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
}
.container {
  max-width: 1500px;
  margin: auto;
}
/* navbar-section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  background-color: #ffffff;
}
nav img {
  max-width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 35px;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
}
.common-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.common-btn:hover {
  background-color: #1e40af;
}
/* banner-section */
header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/banner.jpg");
  height: 90vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px 0;
}
.banner h1 {
  font-size: 80px;
  color: #ffffff;
}
.banner p {
  font-size: 22px;
  color: #ffffff;

  line-height: 1.67;
}
.btn {
  font-size: 24px;
  padding: 20px 50px;
  margin-top: 30px;
}

.banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* speaker-section */

.speaker-section-content h1 {
  text-align: center;
  padding: 50px 0;
  font-size: 56px;
  font-weight: bold;
  color: #000102;
}
.speaker-images-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.speaker-card {
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  text-align: left;
  overflow: hidden;
}

.speaker-card img {
  width: 100%;
  object-fit: cover;
}
.speaker-card-content {
  padding: 20px;
  line-height: 1.67;
}
.speaker-card-content h5 {
  font-size: 12px;
  font-weight: 600;
  color: #2563eb;
}

.speaker-card-content h4 {
  font-size: 20px;
  font-weight: bold;
  color: #0d1b2a;
}
.speaker-card-content p {
  font-size: 14px;
  color: #575757;
}

/* pricing-section */
.pricing-section {
  padding: 100px 0;
}
.pricing-section h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #0d1b2a;
}
.pricing-subtitle {
  text-align: center;
  font-size: 16px;
  color: #575757;
  margin-top: 10px;
  margin-bottom: 60px;
}
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.price-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  padding: 30px;
  border-radius: 15px;
}
.price-card h5 {
  font-size: 13px;
  font-weight: 600;
  color: #888888;
}
.price-card h2 {
  font-size: 44px;
  font-weight: bold;
  color: #0d1b2a;
}
.price-card p {
  font-size: 13px;
  color: #888888;
}

.price-card hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #e5e7eb;
}
.price-card-content {
  line-height: 1.87;
}
.price-card ul {
  list-style: disc;
  padding-left: 18px;
  flex: 1;
}
.price-card ul li {
  color: #333333;
  line-height: 1.67;
}

.price-card ul li::marker {
  color: #2563eb;
}
.pricing-btn {
  background-color: white;
  color: #2563eb;
  border: 1px solid #2563eb;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.pro-card {
  background-color: #0d1b2a;
}
.pro-card h5 {
  font-size: 13px;
  font-weight: 600;
  color: #93c5fd;
}
.pro-card h2 {
  font-size: 44px;
  font-weight: bold;
  color: #ffffff;
}

.pro-card ul li {
  color: #ffffff;
}
.pro-card hr {
  border: none;
  border-top: 1px solid #334155;
}
.pro-btn {
  background-color: #2563eb;
  color: #ffffff;
}
.pro-card p {
  color: #cbd5e1;
}
.team-btn {
  background-color: white;
  color: #0d1b2a;
  border: 1px solid #0d1b2a;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/* ai challenge */
.challenge-section-title {
  text-align: center;
  padding: 50px 0;
  font-size: 56px;
  font-weight: bold;
  color: #000102;
}

.challenge-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("./assets/Devconfo.png");

  height: full;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;

  padding: 100px 0;

  /* align-items: center; */
}

.challenge-section-content {
  text-align: center;
  color: white;
}

.challenge-section h1 {
  color: white;
  font-weight: 800;
  font-size: 80px;
}
.challenge-section h3 {
  color: #2563eb;
  font-weight: 800;
  font-size: 80px;
}
.challenge-section h4 {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.challenge-section p {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.67;
}
/* challenge-cards */
.challenge-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 0 40px;
  margin-top: 20px;
}
.card {
  background: rgba(10, 20, 45, 0.85);
  border: 1px solid #3155ff;
  border-radius: 15px;
  padding: 30px 20px;
  text-align: center;
}
.card-imgage {
  width: 70px;
  height: 70px;
  background-color: #a4adcd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}
.card img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.card h1 {
  color: white;
  font-size: 22px;
}

.card h2 {
  color: #2563eb;
  font-size: 25px;
  margin: 12px 0;
}

.card p {
  color: #ddd;
  font-size: 17px;
}
.register-btn {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.challenge-btn {
  padding: 18px 60px;
  font-size: 24px;
  border-radius: 12px;
  background: #3155ff;
  box-shadow: 0 0 20px rgba(49, 85, 255, 0.5);
}

/* challenge-feature-section */
.feature-cards {
  border-top: 1px solid rgba(46, 44, 44, 0.879);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 80px;
  margin-top: 20px;
}
.feature-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-right: 1px solid rgba(46, 44, 44, 0.879);
  margin-top: 20px;
}
.feature-card:last-child {
  border-right: none;
}
.feature-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.feature-card h6 {
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
}

.feature-card p {
  color: #d1d5db;
  font-size: 15px;
}
